body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}
.container {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    color: #333;
}
label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #0056b3;
}
.note {
    font-size: 12px;
    color: #555;
}
.logo {
    text-align: left;
    margin-bottom: 20px;
    align-items: center;
}
.logo img {
    max-width: 100%;
    width: 500px;
    height: auto;
    align-items: center;
    margin-bottom: 20px;
}